# Relatório de Análise IV

## Seleções e Frequências

In [1]:
import pandas as pd # noqa E402

In [2]:
dados = pd.read_csv('../data/aluguel-residencial.csv', sep=';')
dados

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
4,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
22575,Apartamento,Méier,2,0,0,70,900.0,490.0,48.0
22576,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0
22577,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0
22578,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0
22579,Apartamento,Leblon,2,0,0,70,3000.0,760.0,NaN

In [3]:
# Selecione somente os imóveis com tipo 'Apartamento'
selecao = dados['Tipo'] == 'Apartamento'
n1 = dados[selecao].shape[0]
n1

19532

In [4]:
# Selecione os imóveis classificados com tipos 'Casa',
# 'Casa de Condomínio' e 'Casa de Vila'
selecao = (
    (dados["Tipo"] == "Casa de Condomínio")
    | (dados["Tipo"] == "Casa de Vila")
    | (dados["Tipo"] == "Casa")
)
n2 = dados[selecao].shape[0]
n2

2212

In [5]:
# Selecione os imóveis com área entre 60 e 100 metros
# quadrados, incluindo os limites (60 <= area <= 100)
selecao = (dados['Area'] >= 60) & (dados['Area'] <= 100)
n3 = dados[selecao].shape[0]
n3

8719

In [6]:
# Selecione os imóveis que tenham pelo menos 4 quartos e
# aluguel menor que # R$ 2.000,00
selecao = (dados['Quartos'] >= 4) & (dados['Valor'] < 2000)
n4 = dados[selecao].shape[0]
n4

41

In [7]:
print(f'Nº de imóveis com tipo "Apartamento": {n1}')

print(f'Nº de imóveis classificados com tipos "Casa", "Casa de Condomínio" e \
"Casa de Vila": {n2}')

print(f'Nº de imóveis com área entre 60 e 100 metros quadrados, incluindo os \
limites (60 <= area <= 100): {n3}')

print(f'Nº de imóveis que tenham pelo menos 4 quartos e aluguel menor que \
R$ 2.000,00: {n4}')

Nº de imóveis com tipo "Apartamento": 19532
Nº de imóveis classificados com tipos "Casa", "Casa de Condomínio" e "Casa de Vila": 2212
Nº de imóveis com área entre 60 e 100 metros quadrados, incluindo os limites (60 <= area <= 100): 8719
Nº de imóveis que tenham pelo menos 4 quartos e aluguel menor que R$ 2.000,00: 41