# Exerc√≠cios

## Aula 04.03

In [5]:
import pandas as pd

numeros = [i for i in range(11)]
letras = [chr(i + 65) for i in range(11)]
nome_coluna = ['N']

df = pd.DataFrame(data=numeros, index=letras, columns=nome_coluna)
df

    N
A   0
B   1
C   2
D   3
E   4
F   5
G   6
H   7
I   8
J   9
K  10

In [4]:
selecao = df['N'].isin([i for i in range(11) if i % 2 == 0])
df = df[selecao]
df

    N
A   0
C   2
E   4
G   6
I   8
K  10