# Formas de Seleção

In [1]:
import pandas as pd # noqa E402

In [2]:
data = [
    (1, 2, 3, 4),
    (5, 6, 7, 8),
    (8, 10, 11, 12),
    (13, 14, 15, 16),
]


df = pd.DataFrame(data, 'l1 l2 l3 l4'.split(), 'c1 c2 c3 c4'.split())

In [3]:
# A seleção de uma coluna, com um par de colchetes, retorna um objeto Series
df['c1']

l1     1
l2     5
l3     8
l4    13
Name: c1, dtype: int64

In [4]:
type(df['c1'])

pandas.core.series.Series

In [5]:
# Já a seleção com 2 pares de colchetes retorna um DataFrame
df[['c3', 'c1']]

    c3  c1
l1   3   1
l2   7   5
l3  11   8
l4  15  13

In [6]:
type(df[['c3', 'c1']])

pandas.core.frame.DataFrame

In [7]:
# A seleção de todas as linhas de um DataFrame pode ser feita com [:]
df[:]

    c1  c2  c3  c4
l1   1   2   3   4
l2   5   6   7   8
l3   8  10  11  12
l4  13  14  15  16

In [8]:
# Para selecionar a partir de uma linha, informamos essa linha como primeiro
# parâmetro da seleção
df[1:]

    c1  c2  c3  c4
l2   5   6   7   8
l3   8  10  11  12
l4  13  14  15  16

In [9]:
# Para selecionar uma fatia, podemos usar um fatiamento normal.
df[1:3]

    c1  c2  c3  c4
l2   5   6   7   8
l3   8  10  11  12

In [10]:
# Podemos selecionar linhas e colunas
df[1:][['c3', 'c1']]

    c3  c1
l2   7   5
l3  11   8
l4  15  13

In [11]:
df

    c1  c2  c3  c4
l1   1   2   3   4
l2   5   6   7   8
l3   8  10  11  12
l4  13  14  15  16

In [12]:
# Podemos fazer seleções a partir dos rótulos das linhas (o index) com .loc[]
df.loc['l3']

c1     8
c2    10
c3    11
c4    12
Name: l3, dtype: int64

In [13]:
df.loc[['l3', 'l2']]

    c1  c2  c3  c4
l3   8  10  11  12
l2   5   6   7   8

In [14]:
# podemos selecionar um só elemento
df.loc['l1', 'c2']

2

In [15]:
# Podemos fazer seleção usando índices numéricos. Para isso, devemos usar o
# .iloc
df.iloc[0, 1]

2

In [16]:
df.loc[['l3', 'l1'], ['c4', 'c1']]

    c4  c1
l3  12   8
l1   4   1

In [17]:
df.iloc[[2, 0], [3, 0]]

    c4  c1
l3  12   8
l1   4   1